{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
  "ecmaVersion": 6
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "rules": {
    "react/forbid-prop-types": [0, { "forbid": ['any', 'array', 'object'], "checkContextTypes": true, "checkChildContextTypes": true }],
    "jsx-a11y/no-noninteractive-element-interactions": [0, { "handlers": []}],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  }
}
