.listing-page__title {
  text-align: center;
}

.listing-page__search {
  font-family: Helvetica;
  text-align: center;
  font-size: 1.3rem;
  &_count,
  &_all-count {
    color: #434343;
    font-weight: bolder;
  }
}

.listing-page__list-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding: .7rem;
}

.listing-page__btn {
  margin: 1rem 0 1rem 1rem;
  padding: 1rem;
  font-size: 1.3rem;
  background-color: #10afe4;
  color: #e4e4e4;
  border-radius: .4rem;
  outline: none;
  &:hover {
    cursor: pointer;
    background-color: #0e98c6;
  }
}
